{{!< default}}
{{!-- 
/**
 * Emerging Citizens
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Script includes partial for MODERATOR socket.io events
 * ==========
 */
--}}			

var socketEvents = function(eventId, eventData) {
		
	var currentPlayers = [];

    switch (eventId) {

        case 'connect':

				   // Connected, let's sign-up for to receive messages for this room
				   socket.emit('room', emitData('moderator'));

            break;

        case 'players:update':

				  	currentPlayers = _.pluck(eventData, 'username');
				    $('#playersContent').html(currentPlayers.join('<p> joined. </p><br />'));

                    {{!-- var players = $('.hashtag-response');
                    _.each(elements, function(el, index) {

                    }); --}}
            break;
            
        case 'game:countdown':

            /*var minutes = Math.floor(eventData / 60);
            var seconds = eventData - minutes * 60;*/

            console.log('countdown' , eventData)

            var clock = $('#countdownTimer').FlipClock(eventData, {
                clockFace: 'MinuteCounter',
                countdown: true
            });

            break;


        case 'game:start':
        case 'game:end':
        case 'hashtag:submitted':
        case 'hashtags:received':

            $('#gameContent').html(eventData);

            break;

        case 'hashtags:reveal':

            $('#gameContent').html(eventData);

            //instantiate a TimelineLite    
            var t1 = new TimelineLite();

            
            var elements = $('.hashtag-response');

            _.each(elements, function(el, index) {

                t1.from(el, 1, {x:-100, autoAlpha:0})
                .staggerFrom($(el).find('.hashtag-vote, .no-votes'), 3, {scale:0, opacity:0, ease:Elastic.easeOut, onStart: function() {

                        ion.sound.play("button_tiny");

                }}, 2)
                .to(el, 1, {x:100, autoAlpha:0, display:'none'});

            });
            t1.play();
            
            // .to($('#results-2'), 1, {y:-100, autoAlpha:0, display:'none', ease:Elastic.easeIn});

            $('#countdownTimer').hide();

            break;

    }
    
};