<section class="form row" style="height:80%;">
    
    <div id="meme-create" class="col-lg-4" style="margin:0 auto; margin-top: -5%;">

    {{!-- TEXT INPUT AND SUBMISSION --}}
        <div id="meme-text" class="row" style="display:none;">

            <input id="text-upper" class="meme-text" placeholder="top text" maxlength="140" tabindex="1" /> <br />
            <input id="text-lower" class="meme-text" placeholder="bottom text" maxlength="140" tabindex="2" />
            <div id="meme-canvas"></div>

        </div>

    {{!-- IMAGE SELECTION --}}
        <div id="meme-slider" class="glide">

            <span id="text-upper-hidden" class="meme-text-hidden"></span>
            <span id="text-lower-hidden" class="meme-text-hidden"></span>

            <input type="text" id="image-index" value="0" style="display:none">
            
            <div class="glide__arrows">
                <button class="glide__arrow prev desktop-only" data-glide-dir="<"><<</button>
                <button class="glide__arrow next desktop-only" data-glide-dir=">">>></button>
            </div>

            <div class="glide__wrapper">
                <ul class="glide__track">

                    {{#each memeImages}}
                        <li class="glide__slide">
                            <img class="slider-size" src="{{{cloudinaryUrl this width=400 height=400 quality=80}}}" alt="Meme Image {{@index}}" />
                        </li>
                    {{/each}}
                
                </ul>
            </div>

            <div class="glide__bullets"></div>

        </div>

        <div class="row slider-size">

            <input id="btn-next" data-keep_enabled="true" class="post-button submit" type="submit" name="submit" value="next">

            <div id="btns-submit" class="" style="display:none;">
            
                

                <input id="btn-back" class="post-button back small" type="submit" name="submit" value="back">
                <input id="btn-submit" data-event="meme:submit" data-package='{"text_upper": "#text-upper", "text_lower": "#text-lower", "image_index": "#image-index"}' data-autohide="false" class="post-button submit small" type="submit" name="submit" value="submit">

                {{!-- Game error --}}
                <div class="error">Error!</div>

            </div>

        </div>

    </div>

</section>

<section id="meme-created" class="form row" style="display:none;">
    <h1>meme submitted!</h1> <span style="font-size:1.4em">waiting for other players...</span>
</section>