<div class="page-container">
    <div class="row">

        <section class="form col-sm-6 col-lg-12">
            
            <div class="col-lg-5"></div>
            
            <div id="meme-voting" class="row col-lg-2">
                <div style="height: 100%">

                    <div id="meme-slider">
                        <ul>
                        {{#each submissions}}
                            <li>
                                <div class="meme">

                                    <div style="background: url({{{cloudinaryUrl image width=300 quality=80}}}) round;">

                                        <div class="text-upper">{{upper}}</div>
                                        <div class="text-lower">{{lower}}</div>

                                    </div>

                                    <input class="btn-like" type="submit" name="submit" value="like">

                                </div>
                            </li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
            
                <div class="row">

                    <input id="btn-vote" class="post-button" type="submit" name="submit" value="vote">

                </div>
            </div>

            <div class="col-lg-5"></div>

        </section>

    </div>
</div>