<div id="topic-submission">

	<div class="col-sm-4"></div>
	<div class="submission col-sm-4">
	  <div class="form-prompt">Which article do you want to start linking from?</div>
	  <div class="form">

				<div class="input-container">
					<input id="article_input" name="element_1" class="prompt" type="text" autofocus="autofocus">
					
				</div>
				<br />
				{{!-- Game error --}}
        <div class="error">Error!</div>
        <div class="no-wiki">There's no wikipedia article by that name! Try again!</div>
				<input id="btn_search" class="post-button submit" type="submit" name="submit" value="post">
		
		</div>
		<div id="countdownTimer"></div>
	</div>

</div>

{{!-- TODO: Add waiting screen --}}