{{!< default}}
{{!--
/**
* Emerging Citizens
* Developed by Engagement Lab, 2016
* ==============
*
* 404 error Page Template
* ==========
*/
--}}

<!-- 404 START -->
<div class="col-lg-12">
	<div id="404" class="row">
			{{{cloudinaryImg "emerging-citizens/images/404.jpg"}}}
			<h2 class="title">Uh oh! {{errorTitle}}</h2>
			{{#if errorMsg}}
				<p>{{{errorMsg}}}</p>
			{{else}}
				<p>You've taken a wrong turn! We can't find anything here. Try going <a href="/">home</a>?</p>
			{{/if}}
	</div>
</div>
