<div class="game">
    <div id="submission">

        <div class="row input-box login-box">
            <input id="player_name" name="player_name" class="element text medium" type="text" maxlength="255" value="" style="background-image: url(&quot;http://www.phpform.org/images/shadow.gif&quot;); background-position: 50% 0%; background-repeat: repeat-x;" placeholder="Name">
            
            <input id="btn_submit" data-event="login:submit" data-package='{"username": "#player_name"}' class="button_text" type="submit" name="submit" value="Submit">
        </div>

    </div>

    <div id="submitted" style="display:none">
      <h4>Waiting for other players...!</h4>
    </div>
    

    <i>Game Instance: {{game.name}}</i>

</div>