<div class="row gameLanding">

  <div id="desktop">
    
    <div id="hashtag-info" class="col-sm-6">
      <!-- <h2>#You're It</h2>
      <p>Hash Tag You’re It is a fun bluffing game where players need to use convincing rhetorical language to craft tweets using real hashtag campaigns. By manipulating hashtags and exploring their meanings, students will learn about real hashtag campaigns for marketing or activism (their context, structure, and purpose) and how to rhetorically craft a 140 character limited statement to effectively convey the message of the campaign, or subvert it for a new purpose.</p>
      
      <a href="hashtagHub.html" class="btn btn-default" type="submit">Ready?</a> -->

      <a href="#" data-game="hty" class="btn game_entry" type="submit"><img src="images/layout/logo_youreit_box.png"></a>

    </div>
    <div id="meme-info" class="col-sm-6">
  <!--          <h2>Wait Wait Don't Tell Meme</h2>
      <p>Based on the popular NPR game show Wait, Wait Don't Tell Me, Wait, Wait Don't Tell MEME is a investigative bluffing game that teaches players how to quickly fact check image based viral content. This game puts students in the role of conversation-shapers by tasking them to create memes about cultural and political issues through playful acts of creation. They will then learn to parse content for media messages, intent, and impact by ranking the created memes by various measures including political spectrum, tone, intention, and "truthfulness."</p>
      <a href="memeHub.html" class="btn btn-default" type="submit">Ready?</a> -->

    <a href="memeHub.html" class="btn" type="submit"><img src="images/layout/logo_wwdmm_box.png"></a>
    </div>
    <div id="geeks-info" class="col-sm-6">
    <!-- <h2>Wiki Geeks</h2>
      <p>WikiGeeks is a realtime race played on Wikipedia.org that pits players against each other in a search for specific pages using only links embedded within articles. This game tests a broad cross section of knowledge, especially knowing how different topics relate to one another and how they are mapped digitally. It has the secondary benefit of helping students become familiar with Wikipedia's pages and navigation.</p>
      <a href="geeksHub.html" class="btn btn-default" type="submit">Ready?</a> -->
      <a href="geeksHub.html" class="btn" type="submit"><img src="images/layout/logo_wiki_box.png"></a>

    </div>
    <div id="stories-info" class="col-sm-6">
    <!-- <h2>Wiki Geeks</h2>
      <p>WikiGeeks is a realtime race played on Wikipedia.org that pits players against each other in a search for specific pages using only links embedded within articles. This game tests a broad cross section of knowledge, especially knowing how different topics relate to one another and how they are mapped digitally. It has the secondary benefit of helping students become familiar with Wikipedia's pages and navigation.</p>
      <a href="geeksHub.html" class="btn btn-default" type="submit">Ready?</a> -->0
    <a href="#" data-game="hty" class="btn game_entry"><img src="images/layout/logo_data_box.png"></a>
    </div>

  </div>

  <div id="mobile">

    {{> game/entry}}

  </div>

</div>

<footer id="footer">

  <!-- .footer start -->
  <div class="footer col-md-12">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="footer-content text-center padding-ver-clear">

            <div class="logos-footer center-block">
              <a href="http://elab.emerson.edu/"><img id="logo" src="/images/layout/logo_el.png" alt="Engagement Lab" width="60" height="60"></a>
            </div>

            <p class="lead text-center">An applied research lab at Emerson College for reimagining civic engagement in a digital culture<br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->

</footer>