/* 
	HTYI group view styling.
*/
.body.htyi {

	#game_code {
		margin-top: 5%;

		#first { 
			color: $color-red;
		}
		#second {
			color: $color-light-orange;
		}
		#third {
			color: $color-yellow;
		}
		#fourth {
			color: $color-green;
		}

	}

}