/* 
	HTYI player view styling.
*/
.body.htyi.player {
  
  .error-modal {
    background-color: rgba(254, 120, 70, .9);
    color: white;
  }
  
  #loading-modal {
    .indicator {
      background: rgba(254, 120, 70, .5) url('https://res.cloudinary.com/engagement-lab-home/image/upload/emerging-citizens/images/layout/htyi/loading-spinner.svg');
    }
  }

  #waiting {
    .row {
      width: 80%;
      margin: 0 auto;
    }
  }
	
	.game-message {
  	position: relative;
  	min-height: 100%;
  	margin-bottom: 10%;
    margin: 0 auto;
  	font-size: 2em;
  	color: $color-blue;
    min-height: 270px;
    min-width: 345px;
    max-width: 40%;
    background-image: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1/emerging-citizens/images/layout/htyi/cloud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width:320px) {
      max-width: 270px;
      min-width:270px;
      font-size: 1.5em;
    }
  }

  #tweet-submission {
    float: none;
    max-width: 375px;
    // width: 375px;
    margin: 0 auto;

    // @media(max-width:320px) {
    //   max-width: 315px;
    //   min-width:315px;
    //   margin:0 auto;
    // }

  }
  #vote-submission {
    float: none;
    max-width: 375px;
    // width: 375px;
    margin: 0 auto;
    // @media(max-width:320px) {
    //   max-width: 315px;
    //   min-width:315px;
    //   margin:0 auto;
    // }
  }

  #debugging {
    z-index: 0;
  }
}