<!-- Top Navbar -->

{{#ifeq section 'group/monitor'}}
<div class="row" id="logo_ec">
  <div class="col-md-5 col-xs-4"><a id="nav-dropdown">menu</a></div>
    <img src="/images/layout/logo_ec.png" class="col-xs-3 col-sm-3 col-md-2">
    <div class ="col-md-5"></div>
</div>
{{/ifeq}}
<nav class="navbar main nav-dropdown" style="display:none;">
  
  <div class="container">
    <div id="navbar" class="">
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/about'>About Page</a></li>
      <li><a href='/lessonPlans'>Lesson Plans</a></li>
      <li><a href='/help'>Help</a></li>
      <li style="padding:20%;"><a id="nav-close">close</a></li>
    </ul>
  </div>
</nav>


<!-- End Navbar -->