<!-- Top Navbar -->
<nav class="navbar main navbar-fixed-top hidden-sm hidden-xs notfixed">
  <div class="container">
  <div class="col-md-5 col-xs-4"></div>
    <img src="/images/layout/logo_ec.png" class="col-xs-3 col-sm-3 col-md-2">
    <div class ="col-md-5"></div>
  </div>
  <div class="container">
    <div id="navbar" class="{{!-- collapse navbar-collapse --}}">
{{!--     <div class ="col-sm-5 col-xs-3"></div>

      <ul class="nav navbar-nav col-lg-4 col-xs-8">
        <li><a href="moderator.html" id="login">login</a></li>
        <li><a href="playerInterface.html" id="about">about</a></li>
        <li><a href="#contact" id="help">help</a></li>
      </ul>

      <div class ="col-sm-4"></div>
    </div> --}}
  </div>
</nav>
<!-- End Navbar -->