<div class="page-container">
    <div class="row">
       
        {{!-- Topic Info Container --}}
        <section class="col-sm-12 room-container" id="topic-container">

				<div class="row">
				    <div class="col-sm-12">
				        <h2>Find the article!</h2>
				        <h4 class="article-name">{{{this.article.html}}}</h4>
				        
				    </div>
				</div>

				<div class="row">
				    <div class="col-sm-12 article-description">
				         <img src="{{{cloudinaryUrl this.articleImage width=auto height=auto crop='scale' quality=100}}}">
				        <div>
				            
				        {{{this.articleDescription.html}}}

				        </div>
				    </div>
				</div>
    
    </div> {{!-- end page row --}}
</div>
