{{!-- {{> group/header_htyi }} --}}

<div class="page-container">
    <div class="row">
        {{!-- Room Code Container --}}
        <section class="col-sm-12 room-container" id="topic-container">
            {{> shared/article text=article}}
            
            <div class="row finished-players">
                 {{> group/players_grid players=players.finished active=true }}
                
            </div>

        </section>
    
    </div> {{!-- end page row --}}
</div>