{{!-- {{> group/header_htyi }} --}}

<div class="page-container">
    <div class="row">

        {{!-- Players left-hand column --}}
        {{!-- {{> group/players_column players=players.left offset=0 left=true active=true }} --}}
        
        {{!-- Room Code Container --}}
        <section class="col-sm-6 room-container" id="topic-container">
        
            {{> shared/article text=article}}
            
            <div class="row finished-players">
                 {{> group/players_grid players=players.finished active=true }}
                
            </div>

        </section>
        
        {{!-- Players right-hand column --}}
        {{!-- {{> group/players_column players=players.right offset=4 left=false active=true }} --}}

    </div> {{!-- end page row --}}
</div>