<!-- Top Navbar -->
<nav class="header navbar-fixed-top" style="display:none;">
  <div class="container col-md-12 headerImage" >
    <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_mpad,w_315/v1466114092/emerging-citizens/images/layout/wiki/logo.png">
  </div>
</nav>
<!-- End Navbar -->