<!-- Top Navbar -->
<nav class="header navbar-fixed-top">
  <div class="container">
  <div class="col-md-5 col-xs-4"></div>
    <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_mpad,w_315/v1466114092/emerging-citizens/images/layout/wiki/logo.png" class="col-xs-3 col-sm-3 col-md-2">
  </div>
</nav>
<!-- End Navbar -->