{{!-- {{> group/header_htyi }} --}}

<div class="page-container">
    <div class="row">

        {{!-- Players left-hand column --}}
        {{> group/players_column players=players.left offset=0 left=true active=true }}
        
        {{!-- Room Code Container --}}
        <section class="col-sm-6 room-container" id="topic-container">
        
            {{> shared/topic text=data}}
            
        </section>
        
        {{!-- Players right-hand column --}}
        {{> group/players_column players=players.right offset=4 left=false active=true }}

    </div> {{!-- end page row --}}
</div>