{{!-- {{> group/header_htyi }} --}}

<div class="page-container">
    <div class="row">

        {{!-- Room Code Container --}}
        <section class="col-sm-6 room-container" id="topic-container">
        
            {{> shared/topic text=data}}
            
        </section>
        
    </div> {{!-- end page row --}}
</div>