<div class="page-container">
  <div class="row">

    {{!-- Topic Screen Container --}}
    <section class="col-sm-6 room-container" id="topic-container">

			<div class="row" id="current-topic">
			    <div class="col-sm-6">
			        <div class="topic-image">
			            
			            <img src="{{{cloudinaryUrl this.topicImage width=auto height=auto crop='scale' quality=100}}}">

			        </div>
			        <h2 class="topic-title">"{{{removePara this.topicName}}}"</h2>
			    </div>
			    <div class="col-sm-6">
			        <h3>Use your mobile device to search for a starting article based on <span class="emphasis">this topic</span></h3>
			        <img src="/public/images/arrow.png" width="100px" height="100px">
			    </div>
			</div>

			<div class="row">
			    <div class="col-sm-6">
				    <div class="topic-description">
				    	
			            <p>{{{this.topicDescription}}}</p>

				    </div>
			    </div>
			    <div class="col-sm-1"></div>
			    <div class="col-sm-4 countdown">

			      <section id="countdown">
			      {{!-- {{jsonPrint this}} --}}
			      	<span id="text"></span>

			      </section>
		    
			    </div>
			</div>

		</section>

	</div>
</div>