{{!-- {{> group/header_htyi }} --}}

<div class="page-container">

    {{> group/players_column players=players.left offset=0 left=true active=false }}

    {{!-- <div class="col-sm-3"></div> --}}
    <div id="hashtag-submissions-prompt" class="col-sm-6 hidden-el">
        {{> shared/tweet text=tweet}}

        <div class="row">
            <div class="row" style="margin-top:20%;font-size:2em">guess the <span id="real">real</span> hashtag!</div>

            <div class="row">
                <div class="voting" id="clock-bg">
                    <div id="clock-face">
                        <img id="clock-hand" class="clock-hand" src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1466525298/emerging-citizens/images/layout/htyi/clockhand.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> group/players_column players=players.right offset=0 left=false active=false }}



    <div class="row">
    {{!-- {{jsonPrint this}} --}}
        <section id="hashtag-submissions" class="col-sm-12">

            <div class="col-sm-3 leftmost">
            
                {{#each this.[hashtags]}}
                
                    <div class="hashtag"><span class="octothorp">#</span>{{{limit this 20}}}</div>

                   {{#ifeq @index 2}}</div><div class="col-sm-3 left">{{/ifeq}}
                   {{#ifeq @index 5}}</div><div class="col-sm-3 right">{{/ifeq}}
                   {{#ifeq @index 7}}</div><div class="col-sm-3 rightmost">{{/ifeq}}
                {{/each}}
            </div>
            
            </div>
        </section>
    </div>
</div>