{{!-- {{> group/header_htyi }} --}}

<div class="page-container" id="voting">

    {{!-- {{> group/players_column players=players.left offset=0 left=true active=true }} --}}

    {{!-- <div class="col-sm-3"></div> --}}
    <div id="hashtag-submissions-prompt" class="col-sm-6 hidden-el">
        {{> shared/tweet text=tweet}}

        <div class="row">
            <div class="row" style="margin-top:20%;font-size:2em">guess the <span id="real">real</span> hashtag!</div>

            <div class="row">
                <div class="voting" id="clock-bg">
                    <div id="clock-face">
                        <img id="clock-hand" class="clock-hand" src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1466525298/emerging-citizens/images/layout/htyi/clockhand.png">
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    {{!-- {{> group/players_column players=players.right offset=0 left=false active=true }} --}}

    {{!-- <div class="row"> --}}
    {{!-- {{jsonPrint this}} --}}
        <section id="hashtag-submissions" class="col-sm-12">

            <div class="col-sm-4 leftmost col-centered">

                {{#each this.[hashtags]}}
                    <div class="hashtag hidden-el">
                        <span class="octothorp">#</span>{{{limit this 30}}}
                    </div>

                   {{#ifeq @index 2}}</div><div class="col-sm-4 left col-centered">{{/ifeq}}
                   {{#ifeq @index 5}}</div><div class="col-sm-4 right col-centered">{{/ifeq}}
                {{/each}}
            </div>
            
            </div>
        </section>
    {{!-- </div> --}}
</div>