// Disable scrolling on groupview and fix width
#wrapper.group {

  width: 1680px !important;
  max-width: none !important;
  margin-right: auto;
  margin-left: auto;

}


// CONTENT SELECTION
.submission {
	
	button {
		color: white;
		background-color: $color-orange;
	    @include linear_transition(background-color, 0.3s);

		&.inactive {
			background-color: $color-gray-orange;
		}
	}
	#access-code {
		font-size: 4em; 
	}

}

.ended-container {
	background-color: white;
	margin: 0 auto;
}

.winner {
	background-color: white;
}


.room-container {
	bottom: 10%;
	padding-left: 10%;
  padding-right: 10%;
	position: relative;
	margin: 10px auto;
	background-color: white;

	h1 {
		font-size: 6em;
	}
}


.player-background {
	
	display: block;
	position: relative;
	margin: 20px auto;
	margin-bottom: 40px;
	background: white;
	
	.icon {
		margin: 10px auto;
		display: block;
		position:relative;
		width: 100%;
		opacity: 0.3;

		&.active {
			opacity: 1;
		}
	}

	.points {
		display: none;
		float: left;
		width: 100%;
    position: absolute;
    padding-top: 26%;
		font-size: 3.6em;
	}

	.score {
		font-size: 4.6em;
		font-weight: bold;
		color: #91c92f;
	  text-shadow:
	   -1px -1px 0 #FFF,  
	    1px -1px 0 #FFF,
	    -1px 1px 0 #FFF,
	     1px 1px 0 #FFF;

	}

	.nameplate {

	  position: relative;
	  background-color: white;
	  padding: 2px;
	  opacity: 0;
	  font-weight: bold;
	  font-size: medium;

		@include transition(opacity .5s, transform .5s);

		&.active {
			opacity: 1;
			@include translate(0px, -32px);
		}
	}

}



// RESULTS LAST SECTION COUNTDOWN
.last {
	.text {
	  font-size: 26em;
  	top: 58% !important;
	}
}