// Login form
#login {
	input[type=text] {
		width: 100%;
		max-width: 290px;
	}
}
.form-prompt {
	color: white;
	background-color: $color-dark-orange;
	font-size: x-large;
	padding: 10px;

	&.white {
		color: black;
		background-color: white;
	}
}
.post-button {
	color: white;
	background-color: $logo-color;
	font-size: large;
	width: 100%;
	border: 0;
}
.voting-button {
	color: white;
	font-size: medium;
	width: 100%;
	min-height: 50px;
	border: 0;
  
  @include linear_transition(background-color, 0.3s);

	&:hover {
		@include filter(brightness, 115%);
	}
	
	&.color-0 {
		background-color: $color-blue;
	}
	&.color-1 {
		background-color: $color-dark-orange;
	}
	&.color-2 {
		background-color: $color-light-orange;
	}
	&.color-3 {
		background-color: $color-light-blue;
	}
	&.color-4 {
		background-color: $color-light-green;
	}
	&.color-5 {
		background-color: $color-salmon;
	}
	&.color-6 {
		background-color: $color-violet;
	}
	&.color-7 {
		background-color: $color-teal;
	}
	&.color-8 {
		background-color: $color-bright-red;
	}
	

}

.generic-game-message {
	
  font-size: 2em;
	color: $color-peach;
	background-color: white;
	padding: 3%;

  @include box-shadow(6px, 7px, 10px, #C7C6C6);

}

// Footer on entry page
.entry-footer {
	position: fixed;
	bottom: 0;
	right: 0;
	// height: 100px;
	background-color: white;
}

body .player-form {
	padding: 3%;
}