body.player {

	#ended {
		width: 60%;
		
		@media (max-width: 425px) {
			width: 100%;
		}
	}

	#gameContent {
		padding-top: 3%;

	}

	#wrapper {
		height: 100%;
	}



	.game-message {
		padding: 40px;

		@media (max-width: 425px) {
			padding: 10px;
		}
	}

	// Login form
	#login {

		margin-top:5%;
		min-height: 300px;

		input[type=text] {
			width: 100%;
			max-width: 290px;
			border: none;
			text-align: center;
			color: white;
			background-color: $color-gray;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: darken($color-gray, 40%);
			  text-align: center;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: darken($color-gray, 40%);
			  text-align: center;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: darken($color-gray, 40%);
			  text-align: center;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: darken($color-gray, 40%);
			  text-align: center;
			}
		}

		input[type=submit] {
	    border: solid 4px $color-teal;
	    color: darken($color-gray, 40%);
	    background-color: white;
	    width: 145px;

	    &:hover, &:focus {
	    	background-color: $color-gray;
	    }
		}
	}


	.form-prompt {
		color: white;
		background-color: $color-dark-orange;
		font-size: x-large;
		padding: 10px;

		&.white {
			color: black;
			background-color: white;
		}

	}

	// Login form
	#logo_ec {

		background: white;
		padding: 20px 0px;
		margin: 0 auto;

		img {
	    height: 40%;
	    width: 40%;
	    display: block;
	    margin:0 auto;
		}

		&.mobile {
			@include mobile-landscape-and-below {
				display: none;
			}
		}

	}

	
	.form-prompt {
		color: white;
		background-color: $color-dark-orange;
		font-size: x-large;
		padding: 10px;

		&.white {
			color: black;
			background-color: white;
		}
	}

	.post-button {
		color: white !important;
		background-color: $logo-color !important;
		font-size: large !important;
		width: 100%;
		border: 0;

		&.survey {
			width: 40%;
			margin: 5px auto !important;
			background-image: none !important;
			text-align: center !important;
			float: none !important;
			border: none !important;
			height: 50px;
			line-height: 45px !important;

			@media (max-width: 425px){
				width: auto;
			}
		}

	}

	.voting-button {
		color: white;
		font-size: medium;
		width: 100%;
		min-height: 50px;
		border: 0;
	  
	  @include linear_transition(background-color, 0.3s);

		&:hover {
			@include filter(brightness, 115%);
		}
		
		&.color-0 {
			background-color: $color-blue;
		}
		&.color-1 {
			background-color: $color-dark-orange;
		}
		&.color-2 {
			background-color: $color-light-orange;
		}
		&.color-3 {
			background-color: $color-light-blue;
		}
		&.color-4 {
			background-color: $color-light-green;
		}
		&.color-5 {
			background-color: $color-salmon;
		}
		&.color-6 {
			background-color: $color-violet;
		}
		&.color-7 {
			background-color: $color-teal;
		}
		&.color-8 {
			background-color: $color-bright-red;
		}	

	}

	.generic-game-message {
		
	  font-size: 2em;
		color: black;
		background-color: $color-gray;
		padding: 3%;

	  // @include box-shadow(6px, 7px, 10px, #C7C6C6);

	}

	body .player-form {
		padding: 3%;
	}
	
	// Footer on entry page
	.entry-footer {
		position: fixed;
		bottom: 0;
		right: 0;
		background-color: white;

		button {
			background-color: $color-gray;
			color: darken($color-gray, 30%);
			border-radius: 5px;
			border: 2px solid $color-teal;
		}
	}

}