$background-main: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1/emerging-citizens/images/layout/htyi/background_tileable.png);
$background-wiki: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1/emerging-citizens/images/layout/wiki/background_tileable.png);
$background-groupview: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1/emerging-citizens/images/layout/htyi/raindrops_tileable.png);
// $background-game: url(/images/layout/raindrops_tileable_orange.png);
$background-game: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1/emerging-citizens/images/layout/htyi/bg.png);
$tweet: url(/images/layout/hyi/tweetexample.jpeg);

$playerImageStatic: url(/images/layout/hyi/avatar_circle.png);
$playerImageIcon: url(/images/layout/hyi/avatar_nameplate.png);
$imgAvatarCircle: url(/images/layout/hyi/icons/avatar_circle.png);
$playerSize: 180px;
$playerColor: orange;

$primary-color: #333;
$logo-color: #00c5c2;

// HTYI COLORS
$color-gray: darken(white, 10%);
$color-peach: #ff9971;
$color-light-blue: #2bd3ee;
$color-light-green: #13e695;
$color-neon-green: #C8E646;
$color-light-red: #ab3724;
$color-dark-purple: #6768FE;
$color-bright-yellow: #FFD255;
$color-dark-orange: #ff5e41;
$color-gray-orange: #674B47;
$color-light-orange: #ffaf34;
$color-orange: #FD6D59;
$color-red: #fe6444;
$color-bright-red: #F83439;
$color-blue: #4343ff;
$color-salmon: #ff7f7d;
$color-violet: #7c90ff;
$color-teal: #36d5d9;
$color-light-teal: #E8FCFB;
$color-yellow: #fbd738;
$color-green: #00CB86;

// WIKI COLORS
$color-bg: #0be8d4;
$color-dark-yellow: #fcc843;
$color-results-orange: #fa9060;
$color-results-light-orange: #ffa132;
$color-results-peach: #ffbb90;