$background-main: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1/emerging-citizens/images/layout/htyi/background_tileable.png);
$background-wiki: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1/emerging-citizens/images/layout/wiki/background_tileable.png);
$background-wwdmm: url(https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_400/v1475689312/emerging-citizens/images/layout/wwdmm/background_tilable.png);
$background-groupview: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1/emerging-citizens/images/layout/htyi/raindrops_tileable.png);

$background-htyi: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1/emerging-citizens/images/layout/htyi/bg.png);

$tweet: url(/images/layout/hyi/tweetexample.jpeg);

$playerImageStatic: url(/images/layout/hyi/avatar_circle.png);
$playerImageIcon: url(/images/layout/hyi/avatar_nameplate.png);
$imgAvatarCircle: url(/images/layout/hyi/icons/avatar_circle.png);
$playerSize: 180px;
$playerColor: orange;

$primary-color: #333;
$logo-color: #00c5c2;
$color-black: #000000;

$homepage-color: #5DD9D6;

// HTYI COLORS
$color-gray: darken(white, 10%);
$color-peach: #ff9971;
$color-light-blue: #2bd3ee;
$color-light-green: #13e695;
$color-neon-green: #C8E646;
$color-light-red: #ab3724;
$color-dark-purple: #6768FE;
$color-bright-yellow: #FFD255;
$color-dark-orange: #ff5e41;
$color-gray-orange: #674B47;
$color-light-orange: #ffaf34;
$color-orange: #FD6D59;
$color-red: #fe6444;
$color-bright-red: #F83439;
$color-blue: #4343ff;
$color-salmon: #ff7f7d;
$color-violet: #7c90ff;
$color-teal: #36d5d9;
$color-light-teal: #E8FCFB;
$color-yellow: #fbd738;
$color-green: #00CB86;

// WIKI COLORS
$color-bg: #0be8d4;
$color-dark-yellow: #fcc843;
$color-results-orange: #fa9060;
$color-results-light-orange: #ffa132;
$color-results-peach: #ffbb90;
$color-light-gray: #95989A;

// WWDMM COLORS
$color-bg-wwdmm: #21b7f0;
$color-dodger-blue: #31b9ff;
$color-sick-green: #b7d63a;
$color-salmon-pink: #ff7375;
$color-greenish-teal: #40d1ab;
$color-pale-yellow: #fff5a3;
$color-mustard: #fed34f;
$color-orange-yellow: #ffa800;
$color-pastel-orange: #ff8d5b;
$color-light-orange: #ffab48;
$color-bright-orange: #ff6000;
$color-bright-sea-green: #19f7ad;
$color-perrywinkle: #ac7ce8;
$color-cerulean: #007dd5;
$color-azure: #21b7f0;
$color-melon: #ff775c;
$color-aqua: #11cfe0;
$color-warm-pink: #ff5b77;
$color-marigold: #ffc000;

$color-tealish: #1ecfba;
$color-watermelon: #fd5057;