$background-main: url(../images/ec_background_tileable.png);
$primary-color: #333;

.body {
  background-image: $background-main;
  background-color: orange;
}

.row .input-box {
	position: absolute;
}

.room-container{
	position: absolute;
	margin: 0 auto;
	background-color: white;
}

.playerIcon {
	background-image: url(../images/HYI_avatar_circle.png);
}


