<section class="row">
          
    <div class="col-lg-4 col-centered game-message">
        <span>game was not found! you may have been disconnected. sending you back to login shortly...</span>
    </div>

</section>