<section id="ended" class="game-message col-sm-3 col-centered {{!-- hidden-el --}}">
    
  <div class="row">
        <span class="text col-md-12">game was disconnected! sending you back to login shortly...</span>
  </div>

</section>