<section class="row">
  
	<div class="col-lg-12">
		<div class="col-lg-4"></div>
    <div class="col-lg-4 game-message">
    		<div class="col-lg-3"></div>
        <span class="text col-lg-6">game ended!</span>
    		<div class="col-lg-3"></div>

        <div class="col-lg-5"></div>
        <div id="tweet_sketch" class="col-lg-4">
	        {{!-- <img src="/images/layout/hyi/twittersketch.png" alt=""> --}}
        </div>
    </div>
  </div>

</section>