<section id="ended" class="game-message col-sm-3 col-centered {{!-- hidden-el --}}">
    
  <div class="row">
        <div class="text col-md-12" style="padding:10%;text-align:center;">game was disconnected! sending you back to login shortly...</div>
  </div>

</section>