<section id="ended" class="col-centered generic-game-message" style="width: 60%;">
    
  <div class="row">
        <div class="text col-md-12" style="padding:10%;text-align:center;">you were inactive for too long and cannot resume this session. sending you back to login shortly...</div>
  </div>

</section>