	<div class="col-sm-4"></div>
	<div id="tweet-submission" class="col-sm-4">
	  <div class="form-prompt">create the #hashtag that could go with the tweet onscreen!</div>
	  <div class="form">

				<div class="input-container">
					<input id="tweet_input" name="element_1" class="prompt" type="text" maxlength="255" value="" autofocus="autofocus">
					<span class="octothorp">#</span>
				</div>
				<br />
				<input id="btn_submit" data-event="hashtags:submit" data-package='#tweet_input' class="post-button submit" type="submit" name="submit" value="post">
		
		</div>
	</div>

	<div id="countdownTimer"></div>

	<div id="submitted" style="display:none">
	  <h4>Thanks for submitting your hashtag, now wait for the other players!</h4>
  </div>
    {{!-- <a href="hashtagGameVote.html" class="btn btn-default" type="submit">Ready?</a> --}}