
<section id="unload-warning" style="display:none">
    
	    <div class="warning">
		    <div class="form">
		    	<h3>Are you sure you want to go back? Your progress will be lost</h3>
				<input id="yes" class="post-button submit" type="submit" name="submit" value="enter">
				<input id="yes" class="post-button submit" type="submit" name="submit" value="enter">
		    </div>
	    </div>

</section>