<section id="waiting" class="col-xs-12 col-sm-6 col-lg-6 col-centered hidden-el">
    
  <div class="game-message row">
        <span class="text">Waiting for<br />game to begin</span>
  </div>

</section>