<section id="waiting" class="row">
    
		<div class="col-lg-12">
  		<div class="col-lg-4"></div>
	    <div class="col-lg-4 game-message">
	    		
	    		<div class="col-lg-3"></div>
	        <span class="text col-lg-6">waiting for other players...</span>
	    		<div class="col-lg-3"></div>

	        <div class="col-lg-5"></div>
	        
	    </div>
    </div>

</section>