.form { 

	input {

		padding: 20px;
	  font-size: x-large;
	  margin-bottom: 20px;

	  &:focus {
	    outline: none !important;
	    border:6px solid #00c5c2;
	    box-shadow: 0 0 10px #719ECE;
		}

	}

	input[type=submit] {

		color: #00c5c2;
		font-weight: bold;

	}

}