.form { 

	input {

		padding: 20px;
	  font-size: x-large;
	  margin-bottom: 20px;
	  position: relative;

	  &:focus {
	    outline: none !important;
	    border:6px solid #00c5c2;
	    box-shadow: 0 0 10px #719ECE;
		}

	}

	input[type=submit] {

		color: #00c5c2;
		font-weight: bold;

	}

}

.input [type=checkbox] {
		margin: 1px;
		
	}

.input-box {
	background-color: white;
	border: solid black 1px;	
}

.moderatorInput {
	margin: 10px auto;
	display: block; 
	border: 1px solid #d7d6d6; 
	background: #fff; 
	padding: 10px 10px 10px 20px; 
}