// Disable scrolling on groupview and fix width
.body.group {
	overflow: hidden;
}
#wrapper.container.group {

  width: 1680px !important;
  max-width: none !important;

}

// CONTENT SELECTION
.submission {
	
	button {
		color: white;
		background-color: $color-orange;
	  @include linear_transition(background-color, 0.3s);

		&.inactive {
			background-color: $color-gray-orange;
		}
	}
	#access-code {
		font-size: 4em; 
	}

}

.game_code {
	margin-top: 20%;

	#first {
		color: $color-red;
	}
	#second {
		color: $color-light-orange;
	}
	#third {
		color: $color-yellow;
	}
	#fourth {
		color: $color-green;
	}

}

.room-container {
	top: 10%;
	bottom: 10%;
	padding-left: 10%;
  padding-right: 10%;
	position: relative;
	margin: 10px auto;
	background-color: white;

	@include box-shadow(10px, 10px, 50px, #000);
}

.players {
	margin-top: -40px;

	// Move last one in column to the right or left
	&.left {
		// @include translate(50%, 0px);

		div.player-background {
			clear: both;
			float: left;
		}
		div.player-background:nth-child(4) {
			@include translate(55px, 0px);
			clear: none;
		}
	}
	&.right {
		// @include translate(-50%, 0px);

		div.player-background {
			clear: both;
			float: right;
		}
		div.player-background:nth-child(4) {
			@include translate(-55px, 0px);
			clear: none;
		}
	}

}

.player-badge {
  
	position:relative;
  /*background-color:#333;*/
  float:left;

  .badge-face {
	  // position:absolute;
	  // width:200px;
	  // height:200px;
	  // overflow:hidden;
  }

}

.player-background {
	
	display: block;
	position: relative;
	margin: 20px auto;
	margin-bottom: 40px;
	background: white;
	@include circle ($playerSize, white);
	@include box-shadow(2px, 10px, 46px, #000000);
	
	.icon {
		margin: 10px auto;
		display: block;
		position:relative;
		height: 118px;
		width: 100%;
		opacity: 0.3;

		&.active {
			opacity: 1;
		}

		img {
			width: 130px;
			height: 130px;
			float: left;
		}
	}

	.points {
		display: none;
		float: left;
		width: 100%;
    position: absolute;
    padding-top: 26%;
		font-size: 3.6em;
	}

	.score {
		font-size: 4.6em;
		font-weight: bold;
		color: #91c92f;
	  text-shadow:
	   -1px -1px 0 #FFF,  
	    1px -1px 0 #FFF,
	    -1px 1px 0 #FFF,
	     1px 1px 0 #FFF;

	}

	.nameplate {

	  position: relative;
	  background-color: white;
	  padding: 2px;
	  opacity: 0;
	  font-weight: bold;
	  font-size: small;
	  color: $color-blue;

		@include box-shadow(0px, 21px, 46px, #000);
		@include translate(0px, -32px);

		@include transition(opacity .5s, transform .5s);

		&.active {
			opacity: 1;
			@include translate(0px, -32px);
		}
	}

}

// TWEET template
#tweet-container {
	padding: 3%;
	height: 300px;
}
.tweet {

	#tweet-author {
		display: block;
    text-align: left;
	}

}
#current-tweet {
	display: flex;
	background-color: white;
	color: black;
	font-size: medium;
	// margin-top: 5%;
	// margin-bottom: 5%;
  padding: 1%;
  top: 0;
  position: absolute;
  left: 0;
	text-align: left;
	border: 9px solid $color-dark-purple;

	// @include box-shadow(0px, 2px, 10px, #000);

	#author {
		color: #328FB5;
	}
	#left {
		float: left;
	}
	#right {
		float: right;
	}
}

#clock-face{
  background: url("/images/layout/hyi/clock.png") no-repeat;
}
#clock-hand{
  left: -.5%;
  position: relative;
}
#clock-bg {
  width: 184px;
	height: 168px;
	// top: 82px;
	background: white;
	
	@include radius (83px);

	&.voting {
		background-color: $color-dark-purple;
	}
}

// SUBMISSIONS
#hashtag-submissions-prompt {

	display: none;
	height: 300px;

	color: white;
	font-size: x-large;
	background-color: $color-dark-purple;

  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;

	margin-bottom: 4%;

	#real {
		color: $color-neon-green;
	}

}
#hashtag-submissions {
	
	.hashtag {
		background-color: white;
		padding: 20px;
		margin: 20px;

		.octothorp {
			font-size: x-large;
		}
	}
}

// RESULTS
#hashtag-results {
	margin-top: 14%;
	
	.hashtag {
		background-color: $color-bright-yellow;
		padding: 20px;
		color: $color-orange;
		font-size: large;

		.octothorp {
			font-size: 1.3em;
		}
	}

	.real {
		transform: translate(0px, -50px)
	}

	#prompt {
		
		color: white;
		font-size: x-large;
		background-color: $color-dark-purple;

	  padding-bottom: 2%;
	  padding-left: 3%;
	  padding-right: 3%;

	}

}
#winners-circle {

	.score-box {
		padding: 20px;
		background-color: #ff9000;
		font-size: large;

		img {
			float: left;
		}
		score {
			color: $color-yellow;
			font-size: 3em;
			font-weight: bold;
		}
		name {
			display: block;
			font-size: 1.5em;
			color: #FFF;
		}
	}

}
#scores, #leaderboard {
	
	.player {
		background-color: white;
		padding: 8px;
		display: flex;
		margin-top: 2%;
		clear: both;
	}
	.score {
		float: left;
		width: 50%;
		font-weight: bold;
    font-size: 4em;
	}
}
// #scores {	
// 	.player {
// 		background-color: white;
//     font-size: 3em;
//     font-weight: bold;
// 		padding: 20px;
// 		margin: 20px;
// 	}
// }
.results {

	h1 {
		color: #FFF;
	}

	.row {
	  margin-bottom:3%;
	}

	.creator {
		position: absolute;
    transform: translate(-75%, -38%);
	}
	.voter {
		margin: 0;
		float: left;
		transform: scale(0.6);
	}

}