// HOME PAGE

// Animation keyframes
@include keyframes(coming-soon) {

  0%   {left:8px;}
  10%  {left:-8px;}
  30%  {left:8px;}
  60%  {left:-8px;}
  100% {left:0px;}

}

#home-page {
	margin-top: 6%;
  font-size: x-large;
}

#home-page-banner {

	color: white;
  background-color: $color-peach;
  padding: 2%;

  #intro {
  	padding-left: 10%;
  	padding-right: 10%;
    font-size: 1.6em;
  }

}

#mailing-list {

  color: white;
  background-color: $color-peach;
  padding: 2%;
  margin-top: 2%;

  font-family: "Avenir";
  font-weight: bolder;
  font-size: xx-large;
  // border-bottom: solid 2px #ffddb0;

  .email {
    color: #58c5c1;
  }

  span {
    a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      border-bottom: none;
    }
  }
}

.home-page-info {
	
  font-size: large;
	color: $color-peach;
	background-color: white;
	padding: 3%;

  margin-top: 2%;
  margin-left: 2%;

  @include box-shadow(6px, 7px, 10px, #C7C6C6);
  @include linear_transition(-webkit-filter, 0.5s);

  &.coming-soon {
    &:hover {
      @include filter(saturate, 20%);
    }

    h1#coming-soon {
      font-size: 2.3em;
      color: #58c5c1;
    }
    &.invalid
    {
      @include animation('coming-soon .5s 1');
    }    
  }

  &.current {
    @include linear_transition(transform, 0.1s);

    h1 {
      font-size: 2.3em;
      color: #58c5c1;
    }

    &:hover {
      @include scale(1.1);
    }
  }

}