.form-prompt {
	color: white;
	background-color: $dark-orange;
	font-size: large;
	padding: 10px;
}
.post-button {
	color: white;
	background-color: $logo-color;
	font-size: large;
	width: 100%;
	border: 0;
}