$background-main: url(/images/layout/background_tileable.png);
$background-game: url(/images/layout/raindrops_tileable_orange.png);

$playerImageStatic: url(/images/hyi/avatar_circle.png);
$playerImageIcon: url(/images/hyi/avatar_nameplate.png);
$playerSize: 100px;
$playerColor: orange;

$primary-color: #333;
$logo-color: #00c5c2;
$dark-orange: #ff5e41;