{{!-- Player Badge --}}
<section class="player-badge">
	{{!-- <div class="badge"> --}}
	  <figure class="badge-face front">
		
		  <div class="player-background{{#if creator}} creator{{/if}}{{#if points}} voter{{/if}}" {{#if points}}style="margin-top:-5%"{{/if}}>
			    <div class="player-static">
			        <div class="icon active">
			            <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,h_180,w_180/v1465930301/emerging-citizens/images/faces/avatar{{user.index}}.png" class="portrait" />
							
									{{#if points}}
						        <div class="points">
						        	+{{points}}
						        </div>
						      {{/if}}
			        </div>

			        <div class="nameplate active{{#if hide_name}} hidden-el{{/if}}">

			            {{user.username}}

			        </div>

			        {{!-- {{#if score}}
				        <div class="score hidden-el">
				        	+{{score}}
				        </div>
				      {{/if}} --}}
			    </div>
			</div>
		
		</figure>

</section>