{{!-- Players grid --}}
<div class="row players-grid">
    {{!-- {{{jsonPrint players}}} --}}
    {{#each players}}
    
        {{#if ../finished}}

            <div class="col-sm-3 player-background">
                <div class="player-static">
                    <div class="icon active">
                        <img src="http://res.cloudinary.com/engagement-lab-home/image/upload/v1466622714/emerging-citizens/images/home/logo_wwdmm.png" />
                    </div>
                    <div class="nameplate active">

                        {{username}}

                    </div>
                </div>
            </div>
        
        {{else}}

            <div class="col-sm-3 player-background">
                <div class="player-static">
                    <div class="icon">
                    <img src="http://res.cloudinary.com/engagement-lab-home/image/upload/v1466622714/emerging-citizens/images/home/logo_wwdmm.png" /></div>
                    <div class="nameplate"> 

                    </div>
                </div>
            </div>

        {{/if}}

    {{/each}}

</div>