{{!-- Players column --}}
<div class="col-lg-3 col-sm-3 players {{#if left}}left{{else}}right{{/if}}">

    {{#each players}}

            <div class="player-background hidden-el">
                <div class="player-static" data-id="{{uid}}">
                    <div class="icon {{#if ../active}}active{{/if}}">

                        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,h_180,w_180/v1465930301/emerging-citizens/images/faces/avatar{{index}}.png" />
                    </div>
                    <div class="nameplate {{#if ../active}}active{{/if}}">
                        {{#if ../active}}
                            {{username}}
                        {{/if}}

                    </div>
                </div>
            </div>
 
    {{/each}}

</div>