{{!-- Players grid --}}
<div class="row players-grid">

    {{#each players}}
    
            <div class="col-sm-3 player-background">
                <div class="player-static">
                    <div class="icon {{#if ../finished}}active{{/if}}">
                        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto/emerging-citizens/images/layout/wwdmm/icons/avatar{{index}}.png" />
                    </div>
                    <div class="nameplate {{#if ../finished}}active{{/if}}">
                        {{#if ../finished}}
                        {{username}}
                        {{/if}}

                    </div>
                </div>
            </div>
    
    {{/each}}

</div>