{{!-- Player Face --}}
<section class="player-face">
	  
			    <div class="player-static">
			        <div class="icon active">
			            <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,h_100,w_100/v1465930301/emerging-citizens/images/faces/avatar{{user.index}}.png" class="portrait" />
			        </div>

			        <div class="nameplate active">

			            {{user.username}}

			        </div>
			    </div>

</section>