<svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-arrow-right" viewBox="0 0 26 32">
    <title>arrow-right</title>
    <path class="path1" d="M26.286 17.143q0 0.964-0.661 1.625l-11.625 11.625q-0.696 0.661-1.625 0.661-0.911 0-1.607-0.661l-1.339-1.339q-0.679-0.679-0.679-1.625t0.679-1.625l5.232-5.232h-12.571q-0.929 0-1.509-0.67t-0.58-1.616v-2.286q0-0.946 0.58-1.616t1.509-0.67h12.571l-5.232-5.25q-0.679-0.643-0.679-1.607t0.679-1.607l1.339-1.339q0.679-0.679 1.607-0.679 0.946 0 1.625 0.679l11.625 11.625q0.661 0.625 0.661 1.607z"></path>
</symbol>
</defs>
</svg>

{{#ifeq gameType "htyi"}}

    <div class="tutorial col-sm-12">
        <div class="col-sm-10">
    	    <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,h_946/v1466105767/emerging-citizens/images/tutorial/htyi.png" id="tutorial_img">
        </div>
        <div class="col-sm-2 form">
            <div id="countdown" class="submit" data-event="game:start">
            </div>
            <div id="continue">
              <svg class="icon icon-arrow-right hidden-el"><use xlink:href="#icon-arrow-right"></use></svg>
            </div>
    	</div>
    </div>

{{/ifeq}}

{{#ifeq gameType "wikigeeks"}}
    
    <div class="tutorial">
        <div class="col-sm-10" style="padding: 0px;">
            <img src="http://res.cloudinary.com/engagement-lab-home/image/upload/v1475176133/WG_tutorial_sr7k8a.png" id="tutorial_img" style="position:fixed; bottom:0px;">
        </div>
        <div class="col-sm-2 form">
              <div id="countdown" class="submit" data-event="game:start"></div>
            <div id="continue">
              <svg class="icon icon-arrow-right hidden-el"><use xlink:href="#icon-arrow-right"></use></svg>
            </div>
        </div>
    </div>

{{/ifeq}}

{{#ifeq gameType "wwdmm"}}
    
    <div class="tutorial">
        <div class="col-sm-10">
        Tutorial Here!
        </div>
        <div class="col-sm-2 form">
              <div id="countdown" class="submit" data-event="game:start"></div>
            <div id="continue">
              <svg class="icon icon-arrow-right hidden-el"><use xlink:href="#icon-arrow-right"></use></svg>
            </div>
        </div>
    </div>

{{/ifeq}}