{{> group/header_htyi }}

<div class="page-container">

    <div class="col-sm-3"></div>
    <div id="hashtag-submissions-prompt" class="col-sm-6 hidden-el">
        {{> shared/tweet text=tweet}}

        <div>guess the <span id="real">real</span> hashtag!</div>

        <div>
            <div class="col-sm-4"></div>
            <div class="col-sm-6 voting" id="clock-bg">
                <div id="clock-face">
                    <img id="clock-hand" class="clock-hand" src="/images/layout/hyi/clockhand.png">
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>


    <div class="row">
        <section id="hashtag-submissions" class="col-sm-12">

            <div class="col-sm-6 left">
                {{#each hashtags}}
                    <div class="hashtag"><span class="octothorp">#</span>{{hashtag}}</div>

                   {{#ifeq @index 3}}</div><div class="col-sm-6 right">{{/ifeq}}
                {{/each}}
            </div>
            
            </div>
        </section>
    </div>
</div>