<style>
.input-box { position: relative; }
input { display: block; border: 1px solid #d7d6d6; background: #fff; padding: 10px 10px 10px 20px; width: 195px; }
.hash { position: absolute; display: block; left: 5px; top: 10px; z-index: 9; color: #47527D; }
</style>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Room Code: {{game.accessCode}}
                </h1>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row" id="playersContent">
        </div>

<div class="hashtagResponse col-sm-10" style="opacity: 0;">
  <p style="color:red">
      gukbjkvg (by <em>/#F6NOq0vLxGyNF6c-AAAJ</em>)
  </p>

  <div class="hashtagVotes">Votes from: 
                <span class="vote">John Car<br></span>
        </div>
</div>

<div class="hashtagResponse col-sm-10" style="opacity: 0;">
              <p style="color:red">
                  hvuilb (by <em>/#ZURJdjEzVaUtQ7i0AAAI</em>)
              </p>

              <div class="hashtagVotes">Votes from: 
                            <span class="vote">John Carberry Richardson<br></span>
                    </div>
</div>
<div class="hashtagResponse col-sm-10" style="opacity: 0;">
              <p style="color:red">
                  #mabikesafety https://t.co/CGkdDFFG0q (by <em>moderator</em>)
              </p>

                        <span class="vote">No votes!</span>
</div>          
        

        Waiting for players...