<style>
.input-box { position: relative; }
input { display: block; border: 1px solid #d7d6d6; background: #fff; padding: 10px 10px 10px 20px; width: 195px; }
.hash { position: absolute; display: block; left: 5px; top: 10px; z-index: 9; color: #47527D; }
</style>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Room Code: {{game.accessCode}}
                </h1>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row" id="playersContent">
        </div>

        

        Waiting for players...