/* 
	WikiGeeks group view styling.
*/
.body.wikigeeks {

	#game_code {
		// margin-top: 20%;
		color: $color-red;
	}

	.room-container {
		
		p {
			color: $color-light-blue;
		}

		.topic-title {
			color: $color-red;
		}

	}

	#topic-container.room-container {
		width: 80%;
		left: 10%;
		padding: 5%;
	}

	.topic-image {
		max-height: 400px;
		max-width: 400px;
		margin: 0 auto;
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}

	.article-name {
		color: $color-red;
		display: inline-block;

	}

	.article-info {
		padding: 2%;
		border: 2px solid $color-red;
		.article-image {
			display: inline-block;
			max-height: 400px;
			max-width: 400px;
			margin: 0 auto;

			img {
				max-height: 100%;
				max-width: 100%;
			}
		}
		.article-description {
			display: inline-block;
			float: right;
			font-size: 2em;

		}
	}

	.countdown {
		
		font-size: 7em;
		border: 5px dashed yellow;

		@include marching-ants-init

	}

}