/* 
	WikiGeeks group view styling.
*/
.body.wikigeeks {

	#game_code {
		// margin-top: 20%;
		color: $color-red;
	}

	.room-container {
		padding: 5%;

		p {
			color: $color-light-blue;
		}

		.topic-title {
			color: $color-red;
		}

	}

	.topic-image img {
		max-width: 200px;
		max-height: 200px;
	}

}