/* 
	WikiGeeks player view styling.
*/
.body.wikigeeks.player {

	background-image: $background-wiki;
	color: $color-teal;

	.game-message {
		position: relative;
		min-height: 300px;
		margin-bottom: 10%;
		font-size: medium;
		min-height: 265px;
		min-width: 345px;
		background-color: $color-red;
		background-image: none;
		background-repeat: no-repeat;
		background-position: center;

			span {
	    	  left: 0;
	    	  width: 100%;
	    	  top: 45%;
		      position: absolute;
		      height: 100%;
		    }

	}

	#wiki-article, #wiki-workspace {

		display: none;

		ul {
			padding: 2px;
			// -webkit-margin-before: 0.1em;
		 //    -webkit-margin-after: 0.1em;
		 //    -webkit-margin-start: 0px;
		 //    -webkit-margin-end: 0px;
		 //    -webkit-padding-start: 5px;

		    li {

		    }
		}
	}
	
}
