{{!-- Player Badge --}}
<div class="player-background {{#if creator}}creator{{/if}}{{#if voter}}voter{{/if}}">
    <div class="player-static">
        <div class="icon active">
            <img src="/images/layout/hyi/icons/avatar{{avatar_ind}}.png" />
        </div>
        <div class="nameplate active">

            {{username}}

        </div>
    </div>
</div>