<div class="game">
 {{!-- <p>Here is the real tweet:</p> --}}
  <div class="playerResponses">
    <div class="row">
	  	{{#each this}}
	      <div class="hashtagResponse col-sm-4"><p>{{this}}</p><div class="hashtagVotes">* * *</div></div>
	    {{/each}}
    </div>
  </div>
  <h3>Cast your vote for the real hashtag!!</h3>
</div>