{{> moderator/header_htyi }}

<div class="page-container">

    <div class="col-sm-3"></div>
    <div id="hashtag-submissions-prompt" class="col-sm-6">
        {{> shared/tweet text=tweet}}

        <div>guess the <span id="real">real</span> hashtag!</div>
    </div>


    <div class="row">
        {{!-- <div class="col-sm-4"></div> --}}
        <section id="hashtag-submissions" class="col-sm-12">

            <div class="col-sm-6">
                {{#each hashtags.[0]}}
                    <div class="hashtag"><span class="octothorp">#</span>{{hashtag}}</div>
                {{/each}}
            </div>

            <div class="col-sm-6">
                {{#each hashtags.[1]}}
                    <div class="hashtag"><span class="octothorp">#</span>{{hashtag}}</div>
                {{/each}}
            </div>
            
            </div>
        </section>
    </div>
</div>