<div class="row" id="current-tweet">
    <div class="col-sm-12">
        <h1>Find the article!</h1>
        
    </div>
    
    <div class="col-sm-12">
    	<span id="author">@somebody</span>
	    <div class="tweet">
	    	
        {{{text.html}}}

	    </div>
    </div>
</div>