<div class="row" id="current-tweet">
    <div class="col-sm-12">
        <h1>Now get to the article below from your starting page!</h1>
        
    </div>
    
    <div class="col-sm-12">
	    <div class="tweet">
	    	
        {{{text.html}}}

	    </div>
    </div>
</div>