{{#ifnoteq viewType 'group'}} 
	<footer id="footer" class="row">

	  <div class="footer col-lg-12">
	    <div class="footer-content text-center padding-ver-clear">
	      
	      <div class="logos-footer row desktop-only">
	        <a href="http://elab.emerson.edu/"><img id="logo" src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_200/v1477341572/logos/el_logo_3x.png" alt="Engagement Lab" width="200" height="176"></a>          
	        <img id="logo" src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_200/v1476469709/emerging-citizens/images/layout/logo_ec.png" alt="Emerging Citizens" width="200" height="200">
	      </div>
	      
	      <div class="logos-footer row mobile-only">
	        <a href="http://elab.emerson.edu/"><img id="logo" src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_100/v1477341572/logos/el_logo_3x.png" alt="Engagement Lab" width="100" height="88"></a>          
	        <img id="logo" src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_100/v1476469709/emerging-citizens/images/layout/logo_ec.png" alt="Emerging Citizens" width="100" height="100">
	      </div>
	      
	      <p class="row" id="tagline"><strong>Emerging Citizens</strong> is a product of <strong>The Engagement Lab @ Emerson College</strong><br />an applied research lab for reimaging civic engagement in a digital culture.</p>
	      
	    </div>
	  </div>

	</footer>
{{/ifnoteq}}