<div class="row" id="current-topic">
    <div class="col-sm-6">
        <div class="topic-image">
            
            <img src="{{{cloudinaryUrl this.topicImage width=auto height=auto crop='scale' quality=100}}}">

        </div>
        <h2 class="topic-title">{{{this.topicName}}}</h2>
    </div>
    <div class="col-sm-6">
        <h3>Use your mobile device to search for a starting article based on <span class="emphasis">this topic</span></h3>
        <img src="/public/images/arrow.png" width="100px" height="100px">
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
	    <div class="topic-description">
	    	
            <p>{{{this.topicDescription}}}</p>

	    </div>
    </div>
    <div class="col-sm-6 form">
      <div id="countdown" class="submit" data-event="game:start"></div>
        <div id="continue">
          <svg class="icon icon-arrow-right hidden-el"><use xlink:href="#icon-arrow-right"></use></svg>
        </div>        
    </div>
</div>