<div class="row" id="current-tweet">
    <div class="col-sm-12">
        <h1>Find a starting article based on this topic</h1>
        <h3>{{{text}}}</h3>
    </div>
    
    <div class="col-sm-12">
    	<span id="author">@somebody</span>
	    <div class="tweet">
	    	
        {{{text.description.html}}}

	    </div>
    </div>
</div>