<div class="row" id="current-tweet">
    <div id="left" class="twitter-logo">
    	<img src="/images/twitter.png" />
    </div>
    <div id="right">
    	{{!-- <span id="author">@somebody</span> --}}
	    <div class="tweet">
	    	
        {{{tweetFormat text.html}}}

	    </div>
    </div>
</div>