<div id="current-tweet">
    <div class="twitter-logo">
    	<img src="/images/twitter.png" />
    </div>
    <div id="right">
    	<span id="author">@somebody</span>
	    <div class="tweet">
	    	{{{text.html}}}
	    </div>
    </div>
</div>