<div class="game">
    <div class="twitter-logo">
    	<img src="/images/twitter.png" />
    </div>
    <div class="tweet">
    	<span id="tweet-author">@somebody</span>
    	{{{text.html}}}
    </div>
</div>