{{#ifeq survey true}}

    <div id="survey" style="display:none;">
        <div class="survey-button-group">
            <a class="typeform-share post-button submit button survey" id="btn_survey" href="{{surveyUrl}}" data-mode="1" target="_blank">Take Our Survey!</a>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

        </div>

        <div class="row">
            or
        </div>

        <div id="replay">
            <button class="post-button submit" type="button" onclick="sessionStorage.clear(); location.href=location.href;">Play Again!</button>
        </div>
    </div>

{{/ifeq}}