<div class="form">
  <input type="text" id="class_code" placeholder="room code"> <br />
  <input type="text" id="player_name" placeholder="name"> <br />
  <input id="btn_submit_code" data-event="game:entry" data-package='{"code": "#class_code"}' class="btn btn-default game_login" type="submit" name="submit" value="play">
</div>