{{!< default}}
{{!-- 
/**
	* Engagement Lab Website
	* Developed by Engagement Lab, 201 6
	* ==============
	* 
	* Player partial 
	* ==========
	*/
--}}

<div class="col-lg-4 col-sm-6 text-center">
  <h3>{{name}}</h3>
</div>