/* 
	WWDMM group view styling.
*/
.body.wwdmm.group {
	
	.meme-text {

    z-index: 10;

    background: none;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

	  font-family: Impact;

    @include stroke(2, #000);
	
	}

	.room-container {

		border: 8px solid $color-sick-green;
		border-radius: 20px;

	}

	#voting-header {

    color: white;
		font-family: 'Patrick Hand', cursive;
		font-size: 3em;
		text-transform: uppercase;

		background-color: $color-warm-pink;
		padding: 3%;

		h1 {
			font-size: 1.5em;
		}

		.text {
			float: left;
		}
		.img {
			float: left;
	    position: absolute;
	    margin-top: 2%;
		}

		#topic {
			color: $color-bright-sea-green;
		}

		#descriptor {
			color: $color-pale-yellow;
		}
	}

	#voting-container {
	
		.text-upper, .text-lower {
	    color: white;
	    font-size: 3em;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;

	    width: 100%;

	    @include stroke(6, #000);
	    @include word-wrap();
		}

		.text-lower {
      position: absolute;
      // margin-left: 42%;
	    bottom: 0;
		}

	}

	#game_code {

		padding: 40px 20px;
		height: 750px;

		#first {
			color: $color-perrywinkle;
		}
		#second {
			color: $color-bright-orange;
		}
		#third {
			color: $color-cerulean;
		}
		#fourth {
			color: $color-sick-green;
		}

		h1 {
			font-size: 5em;
			color: $color-bright-sea-green;

			&.game-header {
				color: $color-pastel-orange;
			}
		}

		h3.game-header {
			font-size: 3em;
			color: $color-bright-sea-green;
		}

		.wait-players {
			color: $color-pastel-orange;
			font-size: 3em;
		}

	}

	#make-meme {

		color: $color-azure;
    font-size: 1em;

		// .game-header 

		#meme-topic {

	    font-size: 3em;
			position: relative;
	    top: -70px;

		}

		#countdown {
			
			color: $color-light-orange;

		}
	}

	.players-grid.row {

		.player-background {
			width: 250px;
			height: 350px;
			background-color: white;
			border-radius: 0px;
			margin: 20px auto;
			float:none;
			display:inline-block;

			.player-static {
				
				margin: 10px;
				height: 80%;

				.icon {
					height: 240px;
					border: 1px solid black;
					margin: 20px 0px 40px 0px;

					img {
						width: 87px;
						margin-left: 5%;
						margin-top: 5%;
					}
				}
				
			}

		}

		.player-0 {
			color: #FF421C;
		}
		.player-1{
			color: #FFA800;
		}
		.player-2{
			color: #93B700;
		}
		.player-3{
			color: #EA4200;
		}
		.player-4{
			color: #F56800;
		}
		.player-5{
			color: #14B1E5;
		}
		.player-6 {
			color: #006CB8;
		}
		.player-7 {
			color: #8851CD;
		}

	}

}