/* 
	WWDMM group view styling.
*/
.body.wwdmm.group {

	overflow: hidden;

	#gameContent {

		padding: 0;
		padding-top: 0;

	}

	// GLOBAL styling for memes
	.meme {

		background-color: white;
	  background-repeat: no-repeat;
	  background-size: 100% 100%;

	  padding: 6%;
	  box-sizing: content-box;
	  
	  height: 248px;
	  border: 25px white solid;

		.text-upper, .text-lower {

		  color: white;
		  font-size: 3em;
		  font-weight: bold;
		  text-transform: uppercase;
		  text-align: center;

		  width: 80%;
		  left: 10%;

		  // @include word-wrap();

		}

		.text-upper {
	    position: absolute;
	    top: 0;
		}

		.text-lower {
      position: absolute;
	    bottom: 0;
		}

	}
	
	.meme-text {

    z-index: 10;

    background: none;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

	  font-family: Impact;

    @include stroke(2, #000);
	
	}

	.room-container {

		border: 15px solid $color-sick-green;
		border-radius: 10px;

	}

	.top-bar {

    color: white;
		font-family: 'Patrick Hand', cursive;
		font-size: 3em;

		text-transform: uppercase;
		text-align: center;

		background-color: $color-warm-pink;
		padding: 1%;

		h1 {
			font-size: 1.5em;
		}

	}

	#top-header {

		.img {
	    margin-top: 2%;
      margin-left: -19%;
		}

		#topic {

			display: inline;

	    background-image: url(https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,w_273/v1/emerging-citizens/images/layout/wwdmm/squiggle-yellow.png);
	    background-repeat: repeat-x;
	    background-position-y: 100%;
	    background-position-x: center;
	    background-clip: padding-box;
		
			color: $color-bright-sea-green;

		}

		#descriptor {

			display: inline;

	    background-image: url(https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,w_273/v1/emerging-citizens/images/layout/wwdmm/squiggle-turquoise.png);
	    background-repeat: repeat-x;
	    background-position-y: 100%;
	    background-position-x: center;
	    background-clip: padding-box;

			color: $color-pale-yellow;
		}

	}

	#voting-container {

	}

	#results-container {

		h1 {
			font-size: 4em;
		}

    .score {
			font-family: 'Patrick Hand', cursive;
			color: $color-aqua;
	    @include stroke(8, #fff);
    }
    .score-shadow {
	    text-shadow: 5px 1px rgba(0, 0, 0, 0.5);
    }

    .name {
    	font-size: .8em;

    	&.submitter {
    		font-size: 4em;
    	}

	    .icon {
  	    display: inline-block;
		    position: relative;
		    top: 10px;
		    left: -11px;
	    	font-size: 2.7em;

	    	@include rotate(20);
	    }
    }

		.votes, .likes {
	    position: relative;
      float: right;
	    left: -50%;

	    font-size: 2em;

	    ul {
	    	position: relative;
	    	left: 50%;
	    }
	    li {
	    	list-style-type: none;
		    height: 70px;
	    }

	    .score, .score-shadow {
  	    position: relative;
		    top: -69px;
		    margin-left: auto;
		    margin-right: auto;
		    padding-right: 10%;
		    padding-left: 10%;
	    	font-size: 1.5em;
	    }
	    .score-shadow {
		    margin-top: -6px;
	    }
		}

		.meme {
			width: 450px;
			height: 450px;
	    border: solid 10px $color-aqua;
		}

		// ROUND SCORES
		#scores, #leaderboard {
		
			font-size: 2em;

			.points {
		    display: table-cell;
		    vertical-align: middle;
			}

			.player-rule {
				border-top: 5px solid;
		    margin-top: 5%;			
			}

			.large {
				font-size: 2.5em;
			}
		
		}
	}

	#game_code {

		padding: 0px 20px;
		height: 715px;
	  
	  #btn-start-game {
			font-family: 'Patrick Hand', cursive;
	  	visibility: hidden;
	  	
	  	background-color: $color-bright-sea-green;
	  	color: $color-melon;

	    line-height: 1;
	    text-transform: uppercase;
	    padding: 3%;

	    font-size: 7em;
	  }

		#first {
			color: $color-perrywinkle;
		}
		#second {
			color: $color-bright-orange;
		}
		#third {
			color: $color-cerulean;
		}
		#fourth {
			color: $color-sick-green;
		}

		h1 {
	    font-size: 5em;
			color: $color-bright-sea-green;

			&.game-header {
				color: $color-pastel-orange;
			}
		}

		#blurb h3 {
			font-size: 3em;
			color: $color-bright-sea-green;
		}

	}

	#make-meme {

		color: $color-azure;
    font-size: 1em;

    h3 {
    	font-size: 1em;
    	font-weight: normal;
    }

		#meme-topic {

	    font-size: 3em;
			position: relative;
	    top: -70px;

		}

		.countdown {
	    font-size: 3em;
			font-family: 'Patrick Hand', cursive;
			line-height: 1;
		}
		#countdown {			
	    font-size: 250%;
			color: $color-light-orange;
		}
	}

	.players-grid.row {

		.player-background {
			width: 250px;
			height: 350px;
			background-color: white;
			border-radius: 0px;
			margin: 20px auto;
			float:none;
			display:inline-block;

			.player-static {
				
				margin: 10px;
				height: 80%;

				.icon {
					height: 240px;
					border: 1px solid black;
					margin: 20px 0px 40px 0px;

					img {
						width: 87px;
						margin-left: 5%;
						margin-top: 5%;
					}
				}
				
			}

		}

	}

	// PLAYER COLORS
	.player-0 {
		color: #FF421C;
		border-top-color: #FF421C;
	}
	.player-1{
		color: $color-orange-yellow;
		border-top-color: $color-orange-yellow;
	}
	.player-2{
		color: #93B700;
		border-top-color: #93B700;
	}
	.player-3{
		color: #EA4200;
		border-top-color: #EA4200;
	}
	.player-4{
		color: #F56800;
		border-top-color: #F56800;
	}
	.player-5{
		color: #14B1E5;
		border-top-color: #14B1E5;
	}
	.player-6 {
		color: #006CB8;
		border-top-color: #006CB8;
	}
	.player-7 {
		color: #8851CD;
		border-top-color: #8851CD;
	}

}