/* 
	WWDMM player view styling.
*/
#meme-create {
	.unslider {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	input {
		position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;

    background: none;
    border: none;
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    @include stroke(6, #000);
	}
	@include placeholder {
		color: white;
    font-weight: bold;
		
		@include stroke(6, #000);
	}

}