/* 
	WWDMM player view styling.
*/
.body.wwdmm.player {

	.glide__wrapper {
		min-height: 400px;
	}
	.glide__bullets {
		position: static;
    bottom: -5%;
  
    .glide__bullet {
    	margin-left: 3%;
	    margin-right: 3%;
    }
  }
  .glide__track {
  	padding-left: 0;
  }
	.glide__arrow {
		font-size: 1em;
		color: black;
		border: 2px solid black;
	}

  .post-button {
  	margin-top: 40px;
  	width: 400px;
  	background-color: $color-bright-sea-green;
  }

  #meme-slider {
  	
  	min-width: 400px;
  	max-width: 400px;

  }

	#meme-create {
			
		.meme-text {
			position: absolute;
	    left: 0;
	    height: 85px;
	    width: 100%;
	    z-index: 10;

	    background: none;
	    border: none;
	    color: white;
	    font-size: 46pt;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;

	    overflow: hidden;		  
		  resize: none;

		  font-family: Impact;

	    @include stroke(2, #000);
		}
		.meme-text-hidden {

	    font-size: 27pt;
	    font-weight: bold;
	    text-transform: uppercase;
		  font-family: Impact;
		  
		  display: none;
		  height: 0px;

		}

		@include placeholder {
			color: white;
	    font-weight: bold;
			
			@include stroke(2, #000);
		}

		#text-upper {
			position: absolute;
			top: 8%;
			left: 0;
		}
		#text-lower {
			position: absolute;
	    margin-top: 80%;
	    left: 0;
		}

	}

	#meme-voting {
		
		.glide__arrows {
	    top: 35%;
	  }
		.glide__bullets {
			position: static;
	  }

		.meme {
			position: relative;
			width: 400px;
			min-height: 400px;
		}

		.btn-like {
	    position: absolute;
	    left: 80%;
	    bottom: 0;
	    border: none;
	    box-shadow: none;
  
		  // @include linear_transition(transform, 0.5s);
		}
		
		.meme-text {

			display: inline-block;

	    color: white;
	    
	    font-family: Impact;
	    font-size: 16pt;
	    font-weight: bold;
	    
	    text-transform: uppercase;
	    text-align: center;

	    @include stroke(2, #000);
		}

		.text-upper {
			top: 4%;
		}

		.text-lower {
	    position: relative;
	    left: -50%;
		}

		#text-lower-wrapper {
			position: absolute;
			left: 50%;
			bottom: 4%;
			width: 100%;
		}
		
	}

}