/* 
	WWDMM player view styling.
*/
.body.wwdmm.player {

	#meme-create {

		.glide__wrapper {
			min-height: 400px;
			// height: 985px;
		}

		#meme-slider {
			// height: 100%;
		}
			
		.meme-text {
			position: absolute;
	    left: 0;
	    width: 100%;
	    z-index: 10;

	    background: none;
	    border: none;
	    color: white;
	    font-size: 3em;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;
		  
		  resize: none;

	    @include stroke(3, #000);
		}
		@include placeholder {
			color: white;
	    font-weight: bold;
			
			@include stroke(3, #000);
		}

		#text-upper {
			position: absolute;
			margin-top: 7%;
			left: 0;
		}
		#text-lower {
			position: absolute;
	    margin-top: 65%;
	    left: 0;
		}

		a.unslider-arrow {
	    top: 50%;
	    font-size: 2em;
	    color: white;
			text-shadow: 2px 0px 8px rgba(0, 0, 0, 1);	    
		}

	}

	#meme-voting {
		
			.text-upper, .text-lower {
		    color: white;
		    font-size: 3em;
		    font-weight: bold;
		    text-transform: uppercase;
		    text-align: center;

		    @include stroke(6, #000);
			}

			.text-lower {
		    position: absolute;
		    bottom: 0px;
		    left: 50%;
			}
		
		.btn-like {
	    position: absolute;
	    margin-top: 50%;
	    right: 50%;
		}

	}

}