.form input {
  padding: 20px;
  font-size: x-large;
  margin-bottom: 20px; }
  .form input:focus {
    outline: none !important;
    border: 6px solid #00c5c2;
    box-shadow: 0 0 10px #719ECE; }

.form input[type=submit] {
  color: #00c5c2;
  font-weight: bold; }

#logo_img {
  height: 50px;
  width: 50px;
  margin: 0 auto; }

.navbar-inverse {
  background-color: #FFF;
  border-color: #080808; }
  @media (max-width: 480px) {
    .navbar-inverse {
      display: none; } }

nav.navbar #login {
  color: #FD7D4B; }

nav.navbar #help {
  color: #FECD40; }

nav.navbar #about {
  color: #20C5C1; }

.footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  background-color: orange; }

.body {
  overflow: hidden;
  background-image: url(/images/layout/background_tileable.png); }
  @media (max-width: 480px) {
    .body {
      background-color: #fdae8f; } }

.body.login {
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  background-color: #fdae8f; }

.game {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 10px auto;
  background-color: white;
  box-shadow: 10px 10px 10px #888888;
  min-height: 200px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.row .input-box {
  position: absolute; }

.game-header {
  text-align: center;
  margin: 40 auto; }

.page-container {
  top: 10%;
  bottom: 0px;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(/images/layout/raindrops_tileable_salmon.png); }

.room-container {
  top: 10%;
  bottom: 10%;
  position: relative;
  margin: 10px auto;
  background-color: white;
  box-shadow: 10px 10px 10px #888888; }

.players {
  height: 100%;
  width: 100%;
  top: 10%;
  bottom: 10%;
  position: relative;
  margin: 10px auto; }

.playerBackground {
  left: 25%;
  display: block;
  position: relative;
  margin: 10px auto;
  width: 110px;
  height: 110px;
  background: orange;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px; }

.playerStatic {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-image: url(/images/hyi/avatar_circle.png); }

.playerIcon {
  background-size: 100% 100%;
  background-image: url(/images/hyi/avatar_nameplate.png); }

.gameLanding {
  margin-top: 10%; }
  @media only screen and (min-width: 769px) {
    .gameLanding #desktop {
      display: block; }
    .gameLanding #mobile {
      display: none; } }
  @media (max-width: 480px) {
    .gameLanding #desktop {
      display: none; }
    .gameLanding #mobile {
      display: block; } }

#gameContent {
  padding: 40px 15px;
  text-align: center; }
