<div class="game">
    <section class="col-sm-6 room-container">
        
            {{!-- {{> shared/tweet text=tweetText}} --}}
            
            <div style="margin-top:16%" class="row">
                <div class="col-lg-12">
                <h1 style="font-size: 3em;color: #ffa76d" class="game-header">Game Ended<br>Thank you for playing Hashtag You're It!
                    </h1>
                <h1 style="font-size: 2.4em;color: #85e4cc" class="game-header">Please fill out the survey on your device.
                    </h1>

                </div>
            </div>
            
        </section>
</div>