	{{!-- <div class="col-sm-4"></div> --}}
	<div id="tweet-submission" class="submission col-sm-12">
	  <div class="form-prompt">create the #hashtag that could go with the tweet onscreen!</div>
	  <div class="form">

				<div class="input-container">
					<input id="tweet_input" name="element_1" class="prompt" type="text" maxlength="25" value="" autofocus="autofocus">
					<span class="octothorp">#</span>
				</div>
				<br />
				{{!-- Game error --}}
        <div class="error">Error!</div>
				<input id="btn_submit" data-event="hashtags:submit" data-package='#tweet_input' data-autohide="false" class="post-button submit" type="submit" name="submit" value="post">
		
		</div>
		<div id="countdownTimer"></div>
	</div>

	

  <section id="submitted" class="row" style="display:none">
	    
  		<div class="col-lg-12">
	  		<div class="col-lg-4"></div>
		    <div class="col-lg-4 game-message">
		    		<div class="col-lg-3"></div>
		        <span class="text col-lg-6">submission received, please wait!</span>
		    		<div class="col-lg-3"></div>

		        <div class="col-lg-5"></div>
		        <div id="tweet_sketch" class="col-lg-4">
			        {{!-- <img src="/images/layout/hyi/twittersketch.png" alt=""> --}}
		        </div>
		    </div>
	    </div>

	</section>
    {{!-- <a href="hashtagGameVote.html" class="btn btn-default" type="submit">Ready?</a> --}}