{{!-- <div class="col-sm-4"></div> --}}
<div id="vote-submission" class="col-sm-12">
  <div class="form-prompt white">which hashtag went with the original tweet?</div>
  <div class="form">

	    {{#each this}}
				<button data-event="hashtag:vote" data-package='{{this}}' data-keep_enabled="true" data-autohide="true" class="voting-button {{htyiColor @index}} submit">#{{limit this 20}}</button>
	    {{/each}}
	    
			{{!-- Game error --}}
      <div class="error">Error!</div>
	
	</div>
</div>

<section id="submitted" data-hide="vote-submission" class="col-sm-4 col-centered hidden-el">
    
  <div class="game-message row">
        <span class="text col-md-12">vote received,<br />please wait!</span>
  </div>

</section>