<div class="game">
    <h3>Welcome to Emerging Citizens</h3>

    <a href="/moderator" style="color:white">Start a new game?</a><br />
    or
    Join:


    <div id="submission">
      <input type="text" id="class_code" class="form-control" placeholder="Class Code" >
      <input id="btn_submit_code" data-event="game:entry" data-package='{"code": "#class_code"}' class="btn btn-default" type="submit" name="submit" value="Join">
    </div>

</div> 