<div class="form" id="login">
  <input type="text" id="access_code" placeholder="room code" tabindex="1"> <br />
  <input type="text" id="player_name" placeholder="name" tabindex="2"> <br />
  <div class="error">Error!</div>
  <input id="btn_submit_code" data-event="game:entry" data-package='{"code": "#access_code", "name": "#player_name"}' class="btn btn-default desktop-only game_login hidden-sm hidden-xs" type="submit" name="submit" value="play">
</div>


<footer id="footer">

  <!-- mobile footer start -->
  <div class="entry-footer col-md-12 col-xs-12 mobile-only">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="footer-content text-center padding-ver-clear">

			      <div class="player-form form col-xl-2 col-xs-12">
			        <div class="col-xs-6">
								<button id="btn_submit_code" data-event="game:entry" data-package='{"code": "#access_code", "name": "#player_name"}' class="btn default mobile-login game_login">play</button>
							</div>
			        {{!-- <div class="col-xs-6">
								<button id="btn_submit_code" data-event="game:help" class="btn default mobile-login">help</button>
							</div> --}}
			      </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile footer end -->

</footer>