<div class="player-view-container game">

	{{#if game_not_found}}

	  <div>
	    <h4>Game not found!</h4>
	  </div>

	{{else}}

	  <div id="submission" class="room-container">
		  <p>Ready to play? Enter your name below!</p>
			<div class="input-box">

				<input id="player_name" type="text" class="form-control" placeholder="Name">

				{{!-- <input type="text" class="form-control" placeholder="Class Code" > --}}
				<input id="btn_submit" data-event="login:submit" data-package='{"username": "#player_name"}' class="btn btn-default" type="submit" name="submit" value="Submit">

				<i>Game Instance: {{game.name}}</i>

			</div>
		</div>

	  <div id="submitted" style="display:none">
	    <h4>Waiting for other players...!</h4>
	  </div>

  {{/if}}
  
</div>